@charset "UTF-8";


body{
  background-image: linear-gradient(to bottom, #bb9a7a, #419f6d2d, #930ac1);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
h1{
  color: rgb(136, 29, 29);
}
h2{
  color: blueviolet;
}
p{
  text-align: justify;
}