@charset "UTF-8";

body {
  background-size: auto;
}

main{
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #A3916D;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: left;
}

.btn{
  padding: 10xp 10px;
  width: 75px;
  color: #fff;
  background: #209915;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.btn:hover{
  background: #19eb06;
  transition: background 1s;
}