@charset "UTF-8";

main{
  background-color: rgb(188, 199, 233);
  border-radius: 10px;
  box-shadow: 5px 5px 15px #0f0f0f;
  width: 850px;
  padding: 10px;
  margin: auto;
}


body {
  background-size: auto;
}

h1{
  text-align: center;
}

h2{
text-align: center;
}

p {
  text-align: left;
}